name: deploy

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and push backend
      - name: Build and push backend
        uses: docker/build-push-action@v5
        with:
          context: ./PupShops/back/pupshops
          file: ./PupShops/back/pupshops/Dockerfile
          push: true
          tags: fmonfasani/pupshops-backend:latest

      # Build and push frontend
    #  - name: Build and push frontend
    #    uses: docker/build-push-action@v5
    #    with:
    #      context: ./PupShops/front
    #      file: ./PupShops/front/Dockerfile
    #      push: true
    #      tags: fmonfasani/pupshops-frontend:latest
